<!DOCTYPE html>
<html lang="Fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ورود</title>
    
    <link rel="stylesheet" href="icons/css/all.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css">

    <script src="javascripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="alert-container">
            <div class="alert">
                <p>درود بر شما</p>
            </div>
        </div>
        
        <div class="center">
            
            <form action="/login" method="POST" id="form">
                <p class="title">ورود به پنل کاربری</p>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <input name="username" type="text" placeholder="نام کاربری">
                </div>
                <div class="password">
                    <i class="fas fa-lock"></i>
                    <input name="password" type="text" placeholder="رمز عبور">
                </div>

                <button type="submit">ورود</button>

                <p class="signup">حساب کاربری ندارید؟ <a href="">ثبت نام</a></p>
            </form>
        </div>
    </div>
    <script src="javascripts/main.js"></script>
</body>
</html>